.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.card {
    width: 13vw;
    border-radius: 15px;
    border-style: solid;
    border-color: #BFBEBE;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

}

.card img {
    display: flex;
    width: 100%;
    justify-content: center;

}

input {
    width: 85%;
    margin: 2%;
    
}
.card2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    width: 10vw;
}
